In [1]:
import pandas as pd

df = pd.read_csv('BioTIMEQuery_24_06_2021.csv')

C:\Users\dxl702\AppData\Local\Temp\ipykernel_2444\2742718459.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('BioTIMEQuery_24_06_2021.csv')

In [2]:
display(df)

,Unnamed: 0,STUDY_ID,DAY,MONTH,YEAR,SAMPLE_DESC,PLOT,ID_SPECIES,LATITUDE,LONGITUDE,sum.allrawdata.ABUNDANCE,sum.allrawdata.BIOMASS,GENUS,SPECIES,GENUS_SPECIES
0,1,10,NaN,NaN,1984,47.400000_-95.120000_12_Control_0_Medium,12,22,47.40000,-95.12000,1.0,0.0,Acer,rubrum,Acer rubrum
1,2,10,NaN,NaN,1984,47.400000_-95.120000_12_Control_0_Medium,12,23,47.40000,-95.12000,3.0,0.0,Acer,saccharum,Acer saccharum
2,3,10,NaN,NaN,1984,47.400000_-95.120000_12_Control_0_Medium,12,24,47.40000,-95.12000,1.0,0.0,Acer,spicatum,Acer spicatum
3,4,10,NaN,NaN,1984,47.400000_-95.120000_12_Control_0_Medium,12,607,47.40000,-95.12000,12.0,0.0,Corylus,cornuta,Corylus cornuta
4,5,10,NaN,NaN,1984,47.400000_-95.120000_12_Control_0_Small,12,1911,47.40000,-95.12000,1.0,0.0,Populus,pinnata,Populus pinnata
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8552244,26178100,548,NaN,NaN,2007,49.1014548954342_13.3200349605548_T3_56_2007,T3_56,49340,49.10146,13.32004,3.0,NaN,Vaccinium,vitis.idaea,Vaccinium vitis.idaea
8552245,26179100,548,NaN,NaN,2009,49.1014548954342_13.3200349605548_T3_56_2009,T3_56,49340,49.10146,13.32004,4.0,NaN,Vaccinium,vitis.idaea,Vaccinium vitis.idaea
8552246,26180100,548,NaN,NaN,2012,49.1014548954342_13.3200349605548_T3_56_2012,T3_56,49340,49.10146,13.32004,3.0,NaN,Vaccinium,vitis.idaea,Vaccinium vitis.idaea
8552247,26181100,548,NaN,NaN,2007,49.097317976565_13.3173542074378_T3_51_2007,T3_51,40355,49.09732,13.31735,10.0,NaN,Veronica,chamaedrys,Veronica chamaedrys
8552248,26182100,548,NaN,NaN,2011,49.1014548954342_13.3200349605548_T3_56_2011,T3_56,40355,49.10146,13.32004,4.0,NaN,Veronica,chamaedrys,Veronica chamaedrys

In [3]:
df.LATITUDE.unique()

array([47.4    , 44.33   , 50.25   , ..., 49.10048, 49.0988 , 49.09058])

In [4]:
lat = df['LATITUDE']
long = df['LONGITUDE']

australia = df[lat.between(-44, -9, inclusive='both') & long.between(112, 154, inclusive='both')]

In [5]:
australia

,Unnamed: 0,STUDY_ID,DAY,MONTH,YEAR,SAMPLE_DESC,PLOT,ID_SPECIES,LATITUDE,LONGITUDE,sum.allrawdata.ABUNDANCE,sum.allrawdata.BIOMASS,GENUS,SPECIES,GENUS_SPECIES
313019,313323,99,10.0,10.0,1983,-18.849200_117.872000_Soela_survey_SO_5/83_sta...,NaN,6331,-18.84920,117.8720,0.0,5.700,Gymnura,australis,Gymnura australis
313020,313324,99,10.0,10.0,1983,-18.849200_117.872000_Soela_survey_SO_5/83_sta...,NaN,8232,-18.84920,117.8720,0.0,3.076,Saurida,longimanus,Saurida longimanus
313021,313325,99,10.0,10.0,1983,-18.849200_117.872000_Soela_survey_SO_5/83_sta...,NaN,8886,-18.84920,117.8720,0.0,10.766,Uraspis,uraspis,Uraspis uraspis
313022,313326,99,10.0,10.0,1983,-18.994200_117.816000_Soela_survey_SO_5/83_sta...,NaN,7932,-18.99420,117.8160,0.0,0.200,Priacanthus,macracanthus,Priacanthus macracanthus
313023,313327,99,10.0,10.0,1983,-19.019200_117.778000_Soela_survey_SO_5/83_sta...,NaN,6930,-19.01920,117.7780,0.0,0.400,Lutjanus,sp,Lutjanus sp
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8389177,8410359,503,6.0,3.0,2015,-14.697612_145.447184_6_3_2015_5_TRIMODAL,TRIMODAL,48322,-14.69761,145.4472,52.0,0.000,Favites,halicora,Favites halicora
8389178,8410360,503,6.0,3.0,2015,-14.697612_145.447184_6_3_2015_5_TRIMODAL,TRIMODAL,48323,-14.69761,145.4472,1.0,0.000,Favites,magnistellata,Favites magnistellata
8389179,8410361,503,6.0,3.0,2015,-14.697612_145.447184_6_3_2015_5_TRIMODAL,TRIMODAL,48310,-14.69761,145.4472,1.0,0.000,Echinopora,horrida,Echinopora horrida
8389180,8410362,503,6.0,3.0,2015,-14.697612_145.447184_6_3_2015_5_TRIMODAL,TRIMODAL,48311,-14.69761,145.4472,10.0,0.000,Echinopora,lamellosa,Echinopora lamellosa
8389181,8410363,503,6.0,3.0,2015,-14.697612_145.447184_6_3_2015_5_TRIMODAL,TRIMODAL,48324,-14.69761,145.4472,5.0,0.000,Favites,pentagona,Favites pentagona

In [6]:
australia.to_csv('australiaBioTime.csv')