In [42]:
import pandas as pd
import numpy as np

data_dir = "Datasets"
continent_dir = "Asia"

df = pd.read_csv(f"../{data_dir}/BioTIMEQuery_24_06_2021.csv")

/var/folders/9x/qldtrw2s78nfh3dq0zf7l4580000gn/T/ipykernel_48954/3010011116.py:7: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f"../{data_dir}/BioTIMEQuery_24_06_2021.csv")

In [43]:
lat_min = -10
lat_max = 80
long_min = 60
long_max = 157
continent_data = df[(df["LATITUDE"] > lat_min) & (df["LONGITUDE"] < long_max) & (df["LONGITUDE"] > long_min) & (df["LATITUDE"] < lat_max)]

In [44]:
continent_data.to_csv(f"../{data_dir}/{continent_dir}/full.csv")

continent_data

,Unnamed: 0,STUDY_ID,DAY,MONTH,YEAR,SAMPLE_DESC,PLOT,ID_SPECIES,LATITUDE,LONGITUDE,sum.allrawdata.ABUNDANCE,sum.allrawdata.BIOMASS,GENUS,SPECIES,GENUS_SPECIES
293245,293549,96,10.0,9.0,2000,71.966700_82.616700_Arctic_Kara_Sea_Nansen_net...,NaN,12898,71.9667,82.6167,67.373400,0.0,Copepoda,NaN,Copepoda
293246,293550,96,10.0,9.0,2000,71.966700_82.616700_Arctic_Kara_Sea_Nansen_net...,NaN,26805,71.9667,82.6167,0.696136,0.0,Bosmina,longirostris,Bosmina longirostris
293247,293551,96,10.0,9.0,2000,71.966700_82.616700_Arctic_Kara_Sea_Nansen_net...,NaN,27038,71.9667,82.6167,11.970400,0.0,Calanus,glacialis,Calanus glacialis
293248,293552,96,10.0,9.0,2000,71.966700_82.616700_Arctic_Kara_Sea_Nansen_net...,NaN,28261,71.9667,82.6167,74.613200,0.0,Cyclops,strenuus,Cyclops strenuus
293249,293553,96,10.0,9.0,2000,71.966700_82.616700_Arctic_Kara_Sea_Nansen_net...,NaN,28370,71.9667,82.6167,24.817300,0.0,Daphnia,NaN,Daphnia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8435063,8456245,510,NaN,8.0,2013,37.461_128.53_8_2013_7,7,50911,37.4610,128.5300,3.000000,0.0,Argynnis,niobe,Argynnis niobe
8435064,8456246,510,NaN,8.0,2013,37.461_128.53_8_2013_7,7,50966,37.4610,128.5300,4.000000,0.0,Minois,dryas,Minois dryas
8435065,8456247,510,NaN,8.0,2013,37.461_128.53_8_2013_7,7,50952,37.4610,128.5300,4.000000,0.0,Lethe,marginalis,Lethe marginalis
8435066,8456248,510,NaN,8.0,2013,37.461_128.53_8_2013_7,7,50953,37.4610,128.5300,1.000000,0.0,Libythea,lepita,Libythea lepita
8435067,8456249,510,NaN,8.0,2013,37.461_128.53_8_2013_7,7,50963,37.4610,128.5300,23.000000,0.0,Melanargia,epimede,Melanargia epimede

In [45]:
studies = np.unique(continent_data["STUDY_ID"])

In [46]:
for study in studies:
    study_data = continent_data[continent_data["STUDY_ID"] == study]
    print(f"Study ID: {study}")
    print(f"\tYears: {np.unique(study_data["YEAR"])}")
    print(f"\tSpecies Count: {len(np.unique(study_data["GENUS_SPECIES"]))}")
    print(f"\tData Points per Species: {len(study_data) / len(np.unique(study_data["GENUS_SPECIES"]))}")

Study ID: 96
	Years: [1997 1999 2000 2001]
	Species Count: 100
	Data Points per Species: 24.63
Study ID: 97
	Years: [1921 1930 1934 1947 1948 1950 1952 1955 1956 1970 1973]
	Species Count: 197
	Data Points per Species: 25.0253807106599
Study ID: 99
	Years: [1979 1980 1981]
	Species Count: 48
	Data Points per Species: 2.1041666666666665
Study ID: 120
	Years: [2003 2005 2007]
	Species Count: 153
	Data Points per Species: 17.22222222222222
Study ID: 121
	Years: [2003 2005 2007 2009]
	Species Count: 88
	Data Points per Species: 46.38636363636363
Study ID: 122
	Years: [2009]
	Species Count: 133
	Data Points per Species: 40.19548872180451
Study ID: 152
	Years: [1977 1978 1979 1996 1997 2002]
	Species Count: 151
	Data Points per Species: 7.801324503311259
Study ID: 173
	Years: [1996 1997 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2009 2010
 2011 2012]
	Species Count: 649
	Data Points per Species: 6.593220338983051
Study ID: 199
	Years: [2000 2001 2002 2003]
	Species Count: 631
	Data Points per Species: 5.567353407290016
Study ID: 201
	Years: [1987 1990 1995 2000]
	Species Count: 840
	Data Points per Species: 3.867857142857143
Study ID: 202
	Years: [1988 1992 2000]
	Species Count: 75
	Data Points per Species: 2.8266666666666667
Study ID: 246
	Years: [2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013
 2014]
	Species Count: 335
	Data Points per Species: 11.11044776119403
Study ID: 290
	Years: [1979 1980 1981]
	Species Count: 105
	Data Points per Species: 2.9714285714285715
Study ID: 291
	Years: [1979 1980 1981]
	Species Count: 51
	Data Points per Species: 1.1176470588235294
Study ID: 292
	Years: [1979 1980 1981 1985]
	Species Count: 165
	Data Points per Species: 2.9515151515151516
Study ID: 294
	Years: [2003 2004 2005 2006 2007 2008 2012 2013]
	Species Count: 277
	Data Points per Species: 30.166064981949457
Study ID: 310
	Years: [1997]
	Species Count: 98
	Data Points per Species: 5.346938775510204
Study ID: 329
	Years: [1990 1994 1998 2002 2007 2010]
	Species Count: 102
	Data Points per Species: 23.5
Study ID: 330
	Years: [2006 2009]
	Species Count: 93
	Data Points per Species: 10.35483870967742
Study ID: 367
	Years: [2008 2009 2010 2011 2012 2013]
	Species Count: 412
	Data Points per Species: 18.444174757281555
Study ID: 368
	Years: [2010 2011]
	Species Count: 12
	Data Points per Species: 1.6666666666666667
Study ID: 369
	Years: [2009 2010 2011 2012 2013 2014]
	Species Count: 29
	Data Points per Species: 5.448275862068965
Study ID: 370
	Years: [2008 2009 2010 2011 2012 2013 2014]
	Species Count: 159
	Data Points per Species: 18.345911949685533
Study ID: 371
	Years: [2008 2009 2010 2011 2012 2013 2014]
	Species Count: 168
	Data Points per Species: 17.18452380952381
Study ID: 372
	Years: [2005 2006 2007 2008 2009 2010 2011 2012 2013]
	Species Count: 219
	Data Points per Species: 115.04566210045662
Study ID: 373
	Years: [2005 2006 2007 2008 2009 2010 2011 2012]
	Species Count: 25
	Data Points per Species: 893.88
Study ID: 374
	Years: [2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014]
	Species Count: 70
	Data Points per Species: 552.4857142857143
Study ID: 375
	Years: [2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014]
	Species Count: 424
	Data Points per Species: 47.02122641509434
Study ID: 376
	Years: [2004 2005 2006 2007 2008]
	Species Count: 240
	Data Points per Species: 76.7375
Study ID: 377
	Years: [2008 2009 2010 2011 2012 2013]
	Species Count: 251
	Data Points per Species: 311.7649402390438
Study ID: 412
	Years: [1995 1996 1997 1998 1999 2000]
	Species Count: 214
	Data Points per Species: 9.130841121495328
Study ID: 422
	Years: [2009 2010 2011 2012 2013 2014]
	Species Count: 43
	Data Points per Species: 3.697674418604651
Study ID: 423
	Years: [2009 2010 2011 2012 2013 2014]
	Species Count: 46
	Data Points per Species: 3.9130434782608696
Study ID: 424
	Years: [2010 2011 2012 2013 2014]
	Species Count: 7
	Data Points per Species: 18.857142857142858
Study ID: 436
	Years: [2005 2006 2007 2009 2012]
	Species Count: 394
	Data Points per Species: 86.73857868020305
Study ID: 437
	Years: [2010 2011 2012 2016]
	Species Count: 188
	Data Points per Species: 12.446808510638299
Study ID: 438
	Years: [2006 2007 2008 2009 2010 2011 2014]
	Species Count: 598
	Data Points per Species: 58.968227424749166
Study ID: 439
	Years: [1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997]
	Species Count: 52
	Data Points per Species: 5.384615384615385
Study ID: 440
	Years: [1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997]
	Species Count: 68
	Data Points per Species: 7.25
Study ID: 441
	Years: [1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997]
	Species Count: 61
	Data Points per Species: 6.295081967213115
Study ID: 442
	Years: [1980 1981 1982 1983 1984 1985]
	Species Count: 33
	Data Points per Species: 4.393939393939394
Study ID: 443
	Years: [1980 1981 1982 1983]
	Species Count: 35
	Data Points per Species: 2.4857142857142858
Study ID: 444
	Years: [1983 1984 1985 1986 1987]
	Species Count: 20
	Data Points per Species: 2.95
Study ID: 445
	Years: [1976 1977 1978]
	Species Count: 11
	Data Points per Species: 3.0
Study ID: 448
	Years: [1979 1980 1981 1982]
	Species Count: 16
	Data Points per Species: 3.6875
Study ID: 449
	Years: [2000 2001 2002 2003 2004 2005 2006 2007 2008 2009]
	Species Count: 9
	Data Points per Species: 6.0
Study ID: 453
	Years: [1969 1999 2010]
	Species Count: 15
	Data Points per Species: 2.8
Study ID: 455
	Years: [2003 2004 2005]
	Species Count: 58
	Data Points per Species: 2.7586206896551726
Study ID: 456
	Years: [2003 2004 2005 2008 2009 2010]
	Species Count: 133
	Data Points per Species: 3.330827067669173
Study ID: 457
	Years: [2003 2004 2005 2008 2009 2010 2011 2014]
	Species Count: 226
	Data Points per Species: 10.163716814159292
Study ID: 510
	Years: [1987 2010 2011 2012 2013 2014 2015]
	Species Count: 105
	Data Points per Species: 5.219047619047619