In [24]:
import pandas as pd
import numpy as np

data_dir = "Datasets"
continent_dir = "Asia"

df = pd.read_csv(f"../{data_dir}/BioTIMEQuery_24_06_2021.csv")

/var/folders/ws/3snslsrx7s1244y67tj85ymh0000gn/T/ipykernel_1066/3010011116.py:7: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f"../{data_dir}/BioTIMEQuery_24_06_2021.csv")

In [40]:
study_id = 213

study = df[df["STUDY_ID"] == study_id]
study = study[study["DAY"].notna()]
study = study[study["sum.allrawdata.ABUNDANCE"].notna()]

display(study)

# Get the n species with the most data points
n = 15
species = sorted(pd.unique(study["ID_SPECIES"]), key = lambda x: len(study[study["ID_SPECIES"] == x]), reverse = True)[:n]

,Unnamed: 0,STUDY_ID,DAY,MONTH,YEAR,SAMPLE_DESC,PLOT,ID_SPECIES,LATITUDE,LONGITUDE,sum.allrawdata.ABUNDANCE,sum.allrawdata.BIOMASS,GENUS,SPECIES,GENUS_SPECIES
4831176,4831480,213,10.0,10.0,1965,42.26666641_-69.23332977_1965_10_10__213_22.6,NaN,4709,42.26667,-69.23333,4.0,27.200,Amblyraja,radiata,Amblyraja radiata
4831177,4831481,213,10.0,10.0,1965,42.26666641_-69.23332977_1965_10_10__213_22.6,NaN,5576,42.26667,-69.23333,1.0,0.000,Clupea,harengus,Clupea harengus
4831178,4831482,213,10.0,10.0,1965,42.26666641_-69.23332977_1965_10_10__213_22.6,NaN,5961,42.26667,-69.23333,1.0,0.000,Enchelyopus,cimbrius,Enchelyopus cimbrius
4831179,4831483,213,10.0,10.0,1965,42.26666641_-69.23332977_1965_10_10__213_22.6,NaN,6469,42.26667,-69.23333,29.0,15.400,Hippoglossoides,platessoides,Hippoglossoides platessoides
4831180,4831484,213,10.0,10.0,1965,42.26666641_-69.23332977_1965_10_10__213_22.6,NaN,6875,42.26667,-69.23333,1.0,6.400,Lophius,americanus,Lophius americanus
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5270623,5270927,213,9.0,9.0,2008,35.83888626_-74.86958313_2008_9_9_124_189_6.05,NaN,7775,35.83889,-74.86958,1.0,0.048,Phycis,chesteri,Phycis chesteri
5270624,5270928,213,9.0,9.0,2008,35.83888626_-74.86958313_2008_9_9_124_189_6.05,NaN,7887,35.83889,-74.86958,1.0,0.020,Polymixia,lowei,Polymixia lowei
5270625,5270929,213,9.0,9.0,2008,35.83888626_-74.86958313_2008_9_9_124_189_6.05,NaN,8332,35.83889,-74.86958,5.0,0.460,Scorpaenidae,NaN,Scorpaenidae
5270626,5270930,213,9.0,9.0,2008,35.83888626_-74.86958313_2008_9_9_124_189_6.05,NaN,8668,35.83889,-74.86958,1.0,0.034,Synagrops,bellus,Synagrops bellus
5270627,5270931,213,9.0,9.0,2008,35.83888626_-74.86958313_2008_9_9_124_189_6.05,NaN,8905,35.83889,-74.86958,174.0,11.380,Urophycis,regia,Urophycis regia

In [41]:
# Check that there's enough data for each species
for s in species:
    print(s, len(study[study["ID_SPECIES"] == s]))

# Keep only data with those species
top = study[study.ID_SPECIES.isin(species)]

top.loc[:, "DATE"] = top['YEAR'].astype(str) + '/' + top['MONTH'].astype(int).astype(str) + '/' + top['DAY'].astype(int).astype(str)

days = set(top[top["ID_SPECIES"] == species[0]].loc[:, "DATE"].unique())

for s in species:
    days &= set(top[top["ID_SPECIES"] == s].loc[:, "DATE"].unique())

# How many days to the top n species have in common
len(days)

7058 21479
8572 15564
39601 14900
8901 14212
7730 12506
8318 9872
6467 9724
7213 9680
6168 9604
5576 9489
6875 9091
6588 8932
8026 8924
6500 8819
7034 8794

/var/folders/ws/3snslsrx7s1244y67tj85ymh0000gn/T/ipykernel_1066/3098331126.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top.loc[:, "DATE"] = top['YEAR'].astype(str) + '/' + top['MONTH'].astype(int).astype(str) + '/' + top['DAY'].astype(int).astype(str)

135

In [42]:
top.to_csv(f"../{data_dir}/study_{study_id}/top_{n}_{study_id}.csv")